.frm-group{
    background-color: DarkSlateBlue;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
}

label{
    padding: 4px 4px;
    display: block;
    color: white;
}

input[type="text"],select{
    width: 90%;
    padding: 10px 5px;
    margin: 10px 5px;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: lavender;
}

button[type="button"]{
    width: 90%;
    background-color: LightSteelBlue;
    color: black;
    padding: 15px 0;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

button[type="button"]:hover{
    background-color: SteelBlue;
    color: black;
}

input[type="text"]:hover{
    box-shadow: 1px 1px 1px 2px gold;
}

select{
    width: 30%;
    padding: 10px;
    margin: 8px 8px;
    border: none;
    border-radius: 3px;
}

textarea{
    width: 92%;
    height: 140px;
    color: DarkSlateBlue;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 16px;
    background-color: #D2BFD4;
    resize: none;

}