ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #615C5C;
    position: fixed;
    top: 0;
    width: 100%;

}

li{
    float: left;
    border-right: 1px solid white;

}

li:last-child{
    border-left: 1px solid white;
}

li a{
    color: white;
    padding: 16px 16px;
    display: block;
    text-decoration: none;
    font-family: Cambria;
    font-size: 17px;
}

body{
    margin: 0;
    background-color:	gainsboro;


}

a.active{
    background-color: darkred;
    color: white;
}

li a:hover:not(.active) {
    background-color: #1B1B1B;
    color: white;

}

.special-background{
    padding: 30px;
    margin-top: 50px;

}

@media screen and (max-width:600px){
    ul li{
        float: none;
    }
}

.color1{
    color: red;
}

.color2{
    color:blue;
}