h2{
    text-align: center;
}
p{
    line-height: 150%;
    text-indent: 30px;
    background-color: violet;
}
#first{
    color: yellow;
}
.second{
    color: purple;
}
body{
    background-image: url("/img/xxxx.jpg");
    font-size:large;

}